

body {
  font-family: "DM Sans", sans-serif;
  background-color: #E0DFDD;
  color: #050505;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 1rem;

  .nav {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  p {
    font-size: 14px;
    margin: 0;
    font-weight: 500;
  }

  .hidden {
    display: none;
  }
}

main {
  width: 90vw;
}

@media (min-width: 600px) {
  header {
    width: 90vw;
    height: 10vh;
    justify-content: space-between;
    // margin-bottom: 3rem;

    .hidden {
      visibility: hidden;
      display: block; /* Ensure it occupies space in the layout */
    }
  }

  main {

    .home {
      height: 90vh;

      .tr {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        &:nth-child(2) {
          h1 {
            text-align: end;
          }

          img {
            height: 6em;
          }
        }

        h1 {
          font-size: 6em;
          margin: 0;
        }

        p {
          margin: 0;
        }
      }
    }

    .work {
      height: 100vh;
    }
  }
}
