

body {
  font-family: "DM Sans", sans-serif;
  background-color: #E0DFDD;
  color: #050505;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  width: 90vw;
  justify-content: space-around;
  padding: 1rem;
  margin-top: 1rem;

  .nav {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    p {
      cursor: pointer;
    }
  }

  p {
    font-size: 18px;
    margin: 0;
    font-weight: 700;
  }

  .hidden {
    display: none;
  }

  .fullscreen-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
    transform: translateY(-100%);

    .menu-header {
      display: flex;
      justify-content: space-between;
      width: 90%;
      margin-top: 2rem;
    }

    .menu-content {
      text-align: center;

      p {
        margin: 1rem 0;
        font-size: 24px;
        font-weight: bold;
        cursor: pointer;
      }
    }

    &.hidden {
      transform: translateY(-100%);
    }

    &.visible {
      transform: translateY(0);
    }

    .close-menu {
      cursor: pointer;
    }
  }
}

main {
  .home {
    width: 90vw;
    margin: 0 auto;

    h1 {
      font-size: 3.5em;
    }

    p {
      font-size: 20px;
      font-weight: 600;
    }

    .tr {
      &:nth-child(2) {
        img {
          height: 4rem;
        }
      }
    }
  }
}

@media (min-width: 600px) {
  header {
    margin-top: 2rem;
    width: 90vw;
    height: 10vh;
    justify-content: space-between;
    // margin-bottom: 3rem;

    .hidden {
      visibility: hidden;
      display: block; /* Ensure it occupies space in the layout */
    }

    p {
      font-size: 20px;
    }
  }

  main {

    .home {
      height: 90vh;
      width: 90vw;
      margin: 0 auto;

      .tr {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        &:nth-child(2) {
          h1 {
            text-align: end;
          }

          img {
            height: 6em;
          }
        }

        h1 {
          font-size: 6em;
          margin: 0;
        }

        p {
          margin: 0;
        }
      }
    }

    .work {
      height: 100vh;
      width: 100vw;

      .tr {
        display: flex;
        align-items: center;
        height: 350px;

        h1 {
          font-size: 4em;
          margin: 0;
        }

        .tc {
          width: 50vw;

          &.lone {
            padding: 1rem;
            height: inherit;
            background-color: #519872;
          }

          &.rone {
            padding: 1rem;
            height: inherit;
          }
        }
      }
    }
  }
}
